<div class.gt-xs="gt-xs">
  <md-card fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap fxLayoutAlign="space-between start">
    <div class="poster" fxFlex="32">
      <img src="{{midImgPath}}{{film.poster_path}}">
    </div>
    <div fxFlex="64" fxLayout="column" fxLayoutAlign="space-between start">
      <h1 [innerText]="film.title"></h1>
      <div class="action-bar">
        <button md-mini-fab (click)="saveFavorite()" [disabled]="!favoriteChecked || isFavorite" color="primary">
          <md-icon *ngIf="isFavorite" i18n-title="@@inFavoriteTitle" title="Фильм в списке избранных">star</md-icon>
          <md-icon *ngIf="!isFavorite" i18n-title="@@addToFavoriteTitle" title="Добавить фильм в избранные">star_border</md-icon>
        </button>
      </div>
      <div class="film-detail" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
        <span fxFlex="49">
          <ng-container i18n="@@filmRelease">Релиз</ng-container>: {{film.release_date | date}}
        </span>
        <span fxFlex="49">
          <ng-container i18n="@@filmRuntime">Время</ng-container>: {{film.runtime}}
        </span>
        <span fxFlex="49">
          <ng-container i18n="@@filmVoteAverage">IMDB рейтинг</ng-container>: {{film.vote_average}}
        </span>
        <span fxFlex="49">
          <ng-container i18n="@@filmVoteCount">IMDB голосов</ng-container>: {{film.vote_count}}
        </span>
      </div>
      <p [innerText]="film.overview"></p>
    </div>
  </md-card>
  <h2 i18n="@@filmActors">В ролях</h2>
  <div class="cast" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
    <app-person-card *ngFor="let actor of cast"
      [person]="actor"
      [routerLink]="['/peoples', actor.id]"
      fxFlex="49" fxFlex.gt-xs="19">
    </app-person-card>
  </div>
  <button md-raised-button color="primary" routerLink="cast" i18n="@@showAllActors">Показать всех</button>
</div>