md-card.film {
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(63,81,181,.87);
    color: white;
    cursor: pointer;
    margin-bottom: 16px;
}
app-person-card {
    margin-bottom: 16px;
}
div.people {
    margin-top: 16px;
}