<div *ngIf="film">
  <md-card class="film" [ngStyle]="{'background-image': 'url('+bigBackPath+film.backdrop_path+')'}"
    [routerLink]="['/films', film.id]">
    <md-card-title>
      {{film.title}}
    </md-card-title>
  </md-card>
  <md-tab-group>
    <md-tab *ngIf="cast" label="Актеры">
      <div class="people" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <app-person-card *ngFor="let actor of cast"
        [person]="actor"
        [routerLink]="['/peoples', actor.id]"
        fxFlex="32" fxFlex.gt-xs="14">
      </app-person-card>
      </div>
    </md-tab>
    <md-tab *ngIf="crew" label="Создатели">
      <div class="people" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
        <app-person-card *ngFor="let member of crew"
          [person]="member"
          [routerLink]="['/peoples', member.id]"
          fxFlex="32" fxFlex.gt-xs="14">
        </app-person-card>
      </div>
    </md-tab>
  </md-tab-group>
</div>

