<form [formGroup]="loginForm" (ngSubmit)="login()">
  <md-card>
    <md-card-title>
      Вход
    </md-card-title>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Введите email" name="email" type="email"
          formControlName="email">
        <md-error *ngIf="formErrors.email">
          {{formErrors.email}}
        </md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Введите пароль" name="password" type="password"
          formControlName="password">
        <md-error *ngIf="formErrors.password">
          {{formErrors.password}}
        </md-error>
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" color="primary" [disabled]="loginForm.invalid">Войти</button>
    </md-card-actions>
  </md-card>
</form>