<div fxLayout="row" fxLayoutAlign="space-between center">
  <app-search (filmNameChanged)="getFilms($event)"></app-search>
  <md-select placeholder="Внешний вид" [(ngModel)]="selectedTemplate">
    <md-option *ngFor="let template of templates" [value]="template.Value">
      <!--
        Не нашел адекватной поддержки md-icon в md-select
        <md-icon>{{template.Icon}}</md-icon>&nbsp;
      -->
      {{ template.Name }}
    </md-option>
  </md-select>
</div>
<h2 *ngIf="!loading && !filmList.length">Фильмы не найдены :(</h2>
<md-spinner *ngIf="loading"></md-spinner>
<div *ngIf="!loading" 
  fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between stretch" fxLayoutWrap>
  <film-card
    [fxFlex.gt-xs]="selectedTemplate === 0 ? 49 : 100"
    *ngFor="let film of filmList"
    [filmId]="film.imdbID"
    [selectedTemplate]="selectedTemplate">
  </film-card>  
</div>