md-spinner {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    position: absolute;
}
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background-color: #303030;
}