<md-card *ngIf="Film" [routerLink]="['/films', Film.id]">
  <img *ngIf="Film.poster_path" md-card-image src="{{midImgPath}}{{Film.poster_path}}">
  <img *ngIf="!Film.poster_path" md-card-image src="{{noImage}}">
	<md-card-header>
    <md-card-title>{{Film.title}}</md-card-title>
	</md-card-header>
  <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center" class="two-row">
		<span fxFlex="49">Релиз: {{Film.release_date | date}}</span>
    <span fxFlex="49">Время: {{Film.runtime}}</span>
    <span fxFlex="49">IMDB рейтинг: {{Film.vote_average}}</span>
    <span fxFlex="49">IMDB голосов: {{Film.vote_count}}</span>
	</md-card-content>
	<md-card-actions>
	  <button md-button color="primary">Подробнее</button>
	</md-card-actions>
</md-card>