<h1 *ngIf="done">Оплата прошла успешно</h1>
<form (ngSubmit)="pay()" #paymentForm="ngForm" *ngIf="!done">
  <md-card>
    <md-card-title>
      Пополнениие телефона
    </md-card-title>
    <md-card-content fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap fxLayoutAlign="space-between center">
      <md-input-container fxFlex="69">
        <input mdInput placeholder="Номер телефона" name="phone" required [(ngModel)]="paymentModel.phone"
          type="tel" pattern="(\+?\d[- .]*){7,13}" minlength="7" maxlength="13">
      </md-input-container>
      <md-input-container fxFlex="29">
        <input mdInput placeholder="Сумма" name="amount" [(ngModel)]="paymentModel.amount"
          type="number" min="5" max="5000" step="5" minlength="1" maxlength="4"
          (change)="checkAmount($event.target.value)">
      </md-input-container>
      <span *ngIf="!amountValid" class="error"><md-icon>error</md-icon> Сумма должна быть от 5 до 5000</span>
      <md-input-container fxFlex="100">
        <input mdInput placeholder="Email" name="email" required [(ngModel)]="paymentModel.email"
          type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      </md-input-container>
      <md-input-container fxFlex="69">
        <input mdInput placeholder="Номер карты" name="card" required [(ngModel)]="paymentModel.card"
          type="text" pattern="[0-9]{16}" minlength="16" maxlength="16">
      </md-input-container>
      <md-input-container fxFlex="29">
        <input mdInput placeholder="CVV" name="cvv" required [(ngModel)]="paymentModel.cvv"
          type="text" pattern="[0-9]{3}" minlength="3" maxlength="3">
      </md-input-container>
      <div>
        <md-select placeholder="Месяц" name="month" required [(ngModel)]="paymentModel.month">
          <md-option *ngFor="let month of monthes" [value]="month">
            {{ month }}
          </md-option>
        </md-select>
        <md-select placeholder="Год" name="year" required [(ngModel)]="paymentModel.year">
          <md-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </md-option>
        </md-select>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" color="primary" [disabled]="paymentForm.invalid && amountValid">Пополнить</button>
    </md-card-actions>
  </md-card>
</form>