<md-input-container>
  <input #searchInput mdInput placeholder="Введите назване фильма" value="" [(ngModel)]="filmName" (keyup.enter)="search()" [mdAutocomplete]="filmNamesList">
  <span mdSuffix class="reset-icon" (click)="reset()"><md-icon>close</md-icon></span>
</md-input-container>
<button md-raised-button color="primary" (click)="search()">Найти &nbsp;<md-icon>search</md-icon></button>
<!--
<md-input-container>
   <input type="text" mdInput [formControl]="myControl" >
</md-input-container>
-->
<md-autocomplete #filmNamesList="mdAutocomplete">
   <md-option *ngFor="let filmName of filmNames" [value]="filmName" (click)="search()">
      {{ filmName }}
   </md-option>
</md-autocomplete>
